* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.container {
  margin: 80px auto 32px auto;
  width: 85%;
}

header {
  text-align: center;
}

h1 {
  margin-top: 32px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  color: #969696;
}

.soon {
  font-weight: 700;
  color: #15202a;
}

header p {
  margin-top: 15px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #15202a;
}

form {
  margin-bottom: 72px;
}

input[type=email] {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #c2d3ff;
  border-radius: 28px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.0001);
}

input[type=email]::placeholder {
  padding-left: 24px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #b8c7ed;
}

input[type=submit] {
  background-color: #4c7bf3;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
  border-radius: 28px;
  width: 100%;
  display: block;
  color: white;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.illustration-img {
  width: 100%;
  display: block;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.fab {
  color: #4c7bf3;
  border: 2px solid rgba(76, 123, 243, 0.15);
  padding: 12px;
  border-radius: 50%;
}

.copyright {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #969696;
  margin-top: 32px;
  text-align: center;
}

footer {
  margin-top: 120px;
}

.my-footer a {
  text-decoration: none;
  color: yellowgreen;
}

.paminos {
  color: yellow;
  font-weight: 600;
}

.my-footer {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: blue;
  margin-top: 48px;
}

#emailError {
  display: none;
  color: #ff5466;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.15px;
  margin-left: 20%;
}

#email.invalid {
  border-color: #ff5466;
}

#emailError.visible {
  display: block;
}


@media screen and (min-width: 992px) {
  .container {
    width: 70%;
  }

  h1 {
    font-size: 48px;
    line-height: 60px;
  }

  header p {
    font-size: 20px;
    line-height: 24px;
  }

  form {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto 8px auto;
  }

  .illustration {
    margin-top: 72px;
  }

  .illustration-img {
    width: 75%;
    margin: 0 auto;
  }

  footer {
    margin-top: 72px;
  }

  .copyright {
    font-size: 12px;
    line-height: 15px;
  }

  input[type=submit] {
    font-size: 16px;
    line-height: 19px;
    width: 200px;
  }

  input[type=submit]:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  input[type=email] {
    max-width: 450px;
    margin-bottom: unset;
  }

  input[type=email]::placeholder {
    font-size: 16px;
  }

  .fab:hover {
    background-color: #4c7bf3;
    color: white;
  }

}